:host {
	min-width: 380px;
	min-height: 100vh;
	overflow-y: hidden;
	margin: 0px;
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
}

main {
	flex: 1 1 auto;
	position: relative;
	overflow-y: auto;
	padding: 10px;
}
