label {
	float: left;
	position: relative;
	width: 28px;
	height: 100%;
	padding: 6px;
	margin-top: 2px;
	margin-bottom: 4px;
	cursor: pointer;
	user-select: none;
}

.nav-but {
	width: 0px;
	height: 0px;
	margin-left: -50px;
	float: left;
}

.nav-text {
	margin-left: 35px;
	font-size: 16px;
	padding: 8px 3px;
	border-radius: 3px;
	user-select: none;
}

label:hover .nav-text {
	background-color: lightgray;
}

.nav-but:checked ~ .nav-text {
	background-color: Highlight;
}

.nav-strips,
.nav-strips:before,
.nav-strips:after {
	position: absolute;
	border-radius: 15%;
	background-color: white;
	transition: all 0.3s ease-out;
}

.nav-strips {
	height: 3px;
	width: 80%;
	top: 50%;
}

.nav-strips:before,
.nav-strips:after {
	content: "";
	height: 100%;
	width: 100%;
}

.nav-strips:before {
	top: 400%;
}

.nav-strips:after {
	top: -400%;
}

.nav-menu {
	position: absolute;
	border-radius: 5px;
	box-shadow: 3px 3px 15px grey;
	padding: 10px;
	top: 135%;
	left: 2px;
	z-index: 2;
	width: 250px;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease-out;
}

.nav-menu a {
	display: block;
	float: initial;
	padding: 12px;
	border-radius: 4px;
}

.nav-menu a:hover {
	background-color: lightgray;
}

.nav-but:checked ~ .nav-menu {
	opacity: 1;
	visibility: visible;
}

.nav-but:checked ~ .nav-strips,
.nav-but:checked ~ .nav-strips:before,
.nav-but:checked ~ .nav-strips:after {
	background-color: Highlight;
}

.nav-but:checked ~ .nav-text {
	outline: 1px solid Highlight;
}

.nav-but:checked ~ .nav-strips {
	transform: rotate(90deg);
}

.nav-but:checked ~ .nav-strips:before {
	top: 180%;
	left: 30%;
	width: 70%;
	transform: rotate(-30deg);
}

.nav-but:checked ~ .nav-strips:after {
	top: -180%;
	left: 30%;
	width: 70%;
	transform: rotate(30deg);
}
